body {
    margin: 0;
    padding: 0;
    background-color: #215242;
    text-align: center;
    transition: transform 0.15s ease;
}

body:hover {
  transform: perspective(150px) translateZ(30px)
}
